/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:230px 431px;
    height:431px;
    position:absolute;
    width:230px;
    border-radius: 21px;
}


/* PORTS
================================================ */

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-input,
.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-output {
    top: 66px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-brand {
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:160px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-brand h1 {
    border-color:#000;
    border-radius:12px;
    border-style:solid;
    border-width:4px;
    display:inline-block;
    font-family:"Nexa";
    font-size:32px;
    padding:3px 9px 0;
    display: none;
}


/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
    display: none;
}


/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:auto 50px;
    height: 25px;
    width: 25px;
    left:104px;
    position:absolute;
    right:10px;
    top:207px;
}


/* = FOOTSWITCH
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-footswitch {
    background-image:url(/resources/pedals/footswitch.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 150px;
    bottom: 60px;
    left: 13px;
    right: 13px;
    cursor:pointer;
    height: 75px;
    width: 75px;
    margin: auto;
    position:absolute !important;
}
.mod-pedal-boxy{{{cns}}} .mod-footswitch.on {
    background-position-y: top !important
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group {
    margin:20px !important;
    position:relative;
    text-align:center;
    z-index:30;
}
.mod-pedal-boxy{{{cns}}} .top {
    margin-top:0px !important;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob {
    overflow:hidden;
    position: absolute;
    display: block; /* remove inline-block behavior */
    height: 73px;
    left: -4px;
    top: 60px;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:0px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
    display: none;
}

/* ONE KNOB */
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/black.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 108px;
    height: 108px; 
    width:108px;
    margin:0 46px;
}
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob > span.mod-knob-title {
    font-size:15px;
    height:15px;
}
.mod-pedal-boxy{{{cns}}}.mod-one-knob .mod-control-group .mod-knob {
    height:115px;
}


/* = BACKGROUND IMAGES - Color of the pedal
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-tribal2 {
    background-image:url(/resources/pedals/pulverize.png{{{ns}}});
}

/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-black .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/black.png{{{ns}}});
}


/* = COLORS - Color of the pedals labels
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-tribal2 h1,
.mod-pedal-boxy{{{cns}}}.mod-tribal2 .mod-enumerated,
.mod-pedal-boxy{{{cns}}}.mod-tribal2 .mod-control-group .mod-knob > span.mod-knob-title
{
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-tribal2 h1
{
    border-color:white;
}