/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


/* = CONTAINER
================================================ */
.mod-pedal-boxy{{{cns}}} {
    background-position:center center;
    background-repeat:no-repeat;
    background-size:230px 431px;
    height:431px;
    position:absolute;
    width:230px;
    border-radius: 21px;
}


/* PORTS
================================================ */

.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-input,
.mod-pedal-boxy{{{cns}}}.mod-boxy50 .mod-pedal-output {
    top: 66px;
}

/* = PLUGIN'S AUTHOR
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-brand {
    left:0;
    position:absolute;
    right:0;
    text-align:center;
    text-transform:uppercase;
    top:160px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-brand h1 {
    border-color:#000;
    border-radius:12px;
    border-style:solid;
    border-width:4px;
    display:none;
    font-family:"Nexa";
    font-size:32px;
    padding:3px 9px 0;
}


/* = PLUGIN'S NAME
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-plugin-name {
    left:30px;
    overflow:hidden;
    position:absolute;
    right:30px;
    text-align:center;
    top:340px;
}

.mod-pedal-boxy{{{cns}}} .mod-plugin-name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
    display:none;
}


/* = LIGHT ON/OFF
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-light {
    background-position:center center;
    background-repeat:no-repeat;
    height:32px;
    left:20px;
    position:absolute;
    right:10px;
    top:340px;
}


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group {
  position: relative;
  /* optionally adjust height so the knobs have vertical space */
  min-height: 120px;
}

/* Make each knob absolute and place it precisely */
.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob {
  position: absolute;
  display: block; /* remove inline-block behavior */
  height: 73px;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob:nth-child(1) {
  left: 45px;
  top: 42px;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob:nth-child(2) {
  left: 45px;
  top: 150px;
}

.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob:nth-child(3) {
  left: 44px;
  top: 258px;
}

.mod-pedal-boxy{{{cns}}} .mod-control-group .mod-knob > span.mod-knob-title {
    bottom:0px;
    display:block;
    font-size:11px;
    font-weight:bold;
    height:12px;
    left:0;
    line-height:1;
    margin:0;
    overflow:hidden;
    padding:0;
    position:absolute;
    right:0;
    text-transform:uppercase;
    display: none;
}

/* THREE KNOBS */
.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/lata/lata.png{{{ns}}});
    background-repeat:no-repeat;
    background-size:auto 68px;
    height:68px;
    width:68px;
    margin:0 auto;
}
.mod-pedal-boxy{{{cns}}}.mod-three-knobs .mod-control-group .mod-knob {
    display:inline-block;
    height:73px;
}


/* = BACKGROUND IMAGES - Color of the pedal
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-black {
    background-image:url(/resources/pedals/integra.png{{{ns}}});
}

/* = COLORS - Color of the pedals labels
================================================ */
.mod-pedal-boxy{{{cns}}}.mod-black h1,
.mod-pedal-boxy{{{cns}}}.mod-black .mod-enumerated,
.mod-pedal-boxy{{{cns}}}.mod-black .mod-control-group .mod-knob > span.mod-knob-title
{
    color:white;
}
.mod-pedal-boxy{{{cns}}}.mod-black h1
{
    border-color:white;
}
/* STYLES FOR THE BOXY KNOB */


/* = KNOBS
================================================ */
.mod-pedal-boxy{{{cns}}} .mod-control-group.mod-copper .mod-knob .mod-knob-image {
    background-image:url(/resources/knobs/boxy/copper.png{{{ns}}});
}
